<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join to The Club</title>
  </head>
  <body>
    <form action="/join-club" method="POST">
      <label for="passcode">Masukkan Kode Rahasia:</label>
      <input type="text" name="passcode" id="passcode" required />
      <button type="submit">Kirim</button>
    </form>
  </body>
</html>
