<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Message</title>
  </head>
  <body>
    <h1>Tulis Pesan Anda disini</h1>

    <form action="/new-message" method="post">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" required />
      <br />
      <label for="message">Message:</label>
      <textarea id="message" name="text" rows="4" cols="50" required></textarea>
      <br>
      <a href="/">Batal</a>
      <button type="submit">Post</button>
    </form>
  </body>
</html>
